parameters:
	syncResDir: true
	uploadroot:
	cache: true
	cacheStorage: FileStorage
	readonly: false
	quota:
	quota_limit: 20 # MB
	lang: en
	resDir: /ixtrum-res/
	pluginDir: /plugins/
	langDir: /lang/