parameters:
	syncResDir: false
	uploadroot:
	cache: true
	cacheStorage: FileStorage
	readonly: false
	quota:
	quotaLimit: 20 # MB
	lang: en
	resDir: /ixtrum-res/
	pluginDir: /plugins/
	langDir: /lang/