<div class="fm-navigation">
    <a n:foreach="$items as $item" href="{$item['link']}" class="fm-ajax">
        <span>
            {$item['name']}
        </span>
    </a>
</div>

{form locationForm}
    {input location}
{/form}