.context-menu-theme-default {
    background-color: #0E90D2;
    background-image: linear-gradient(to bottom, #149BDF, #0480BE);
    background-repeat: repeat-x;
    border: 1px solid #5FB0D9;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}
.context-menu-theme-default .context-menu-item {
    text-align: left;
    cursor: pointer;
    padding: 4px 28px 4px 16px;
    color: #FFFFFF;
}
.context-menu-theme-default .context-menu-separator {
    margin: 4px 2px;
    font-size: 0px;
    border-top: 1px solid #808080;
    border-bottom: 1px solid white;
}
.context-menu-theme-default .context-menu-item-disabled { color: #808080; }
.context-menu-theme-default .context-menu-item .context-menu-item-inner { background: none no-repeat fixed 999px 999px; } /* Make sure icons don't appear */
.context-menu-theme-default .context-menu-item-hover { background-color: #000000; }
.context-menu-theme-default .context-menu-item-disabled-hover { background-color: #0A246A; }