.file-manager .fm-adressbar {
    background-color: #F5F5F5;
}
.file-manager h4 {
    font-weight: normal;
}
.file-manager .fm-body {
    background-color: #ffffff;
}
.file-manager .fm-body .fm-content .fm-content-file.ui-selected {
    background-color: #0081C2;
    background-image: linear-gradient(to bottom, #0088CC, #0077B3);
    background-repeat: repeat-x;
    color: #FFFFFF;
}
.file-manager .fm-infobar {
    background-color: #F5F5F5;
    border-top-color: #E3E3E3;
}