.fm-toolbar {
    display: block;
    color: #FFFFFF;
    position: relative;
    height: 31px;
    background-color: #6A6A6A;
    padding: 7px;
}
.fm-toolbar ul { list-style: none outside none; margin: 0; padding: 0; }
.fm-toolbar ul form { padding-left: 5px; }
.fm-toolbar li { float: left; padding: 3px 3px 4px; }
.fm-toolbar li.fm-theme-roller { float: right; }
.fm-toolbar li.fm-view-roller { float: right; }
.fm-toolbar li a.fm-toolbar-item {
    float: left;
    line-height: 24px;
    height: 24px;
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    border-radius: 3px;
}
.fm-toolbar li a.fm-toolbar-item:hover { background-color: #2F96B4; }
.fm-toolbar li a.fm-toolbar-item span {
    vertical-align: middle;
    font-size: 14px;
    display: inline-block;
    padding: 0 6px;
    float: left;
    height: 24px;
    background-color: #6891E7;
    background-image: linear-gradient(to bottom, #4495E7 0px, #0053A6 100%);
    background-image: -moz-linear-gradient(to bottom, #4495E7 0px, #0053A6 100%);
    background-image: -webkit-linear-gradient(top,#4495E7 0,#0053A6 100%);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ff4495e7,EndColorStr=#ff0053a6);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.35) inset;
    -webkit-box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
    border-color: #0053A6 #0053A6 #000000;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
}
.fm-toolbar li a.fm-toolbar-item:hover span {
    background-image: linear-gradient(to bottom, #096BD2 0px, #0053A6 100%);
    border-color: #002D59 #002D59 #000000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.35) inset, 0 1px 3px rgba(0, 0, 0, 0.5);
}
.fm-toolbar .fm-clipboard {
    position: absolute;
    display: none;
    width: 200px;
    padding: 6px;
    background-color: #6891E7;
    background-image: linear-gradient(to bottom, #4495E7 0px, #0053A6 100%);
    background-image: -moz-linear-gradient(to bottom, #4495E7 0px, #0053A6 100%);
    background-image: -webkit-linear-gradient(top,#4495E7 0,#0053A6 100%);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ff4495e7,EndColorStr=#ff0053a6);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.35) inset;
    -webkit-box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    border-color: #0053A6 #0053A6 #000000;
    border-style: solid;
    border-width: 1px;
    border-radius: 0 0 4px 4px;
    font-weight: bold;
}
.fm-toolbar .fm-clipboard .fm-clipboard-container {
    width: 100%;
    max-height: 250px;
    overflow: auto;
    overflow: -moz-scrollbars-horizontal;
    overflow-y: scroll;
    overflow-x: hidden;
}
.fm-toolbar .fm-clipboard a { color: #FFFFFF; line-height: normal; }
.fm-toolbar .fm-clipboard a:hover { background: none; text-decoration: underline; }
.fm-toolbar .fm-clipboard h3 { margin: 0; padding: 0; }
.fm-toolbar .fm-clipboard #fm-clipboard-hide, .fm-toolbar .fm-clipboard #fm-clipboard-clear { font-weight: bold; }
.fm-toolbar .fm-clipboard .fm-clipboard-item { font-size: 11px; width: 100%; border: 1px solid transparent; }
.fm-toolbar .fm-clipboard .fm-clipboard-item .fm-clipboard-item-left { float: left; width: 70%; word-wrap: break-word; }
.fm-toolbar .fm-clipboard .fm-clipboard-item .fm-clipboard-item-right { float: right; font-weight: bold; }
.fm-toolbar .fm-clipboard .fm-delimiter { border-top: 1px solid #D4D4D4; }
.fm-toolbar .fm-clipboard .fm-delimiter #fm-clipboard-hide { float: right; font-size: 11px; color: #3B5998; cursor: pointer; }
.fm-toolbar .fm-clipboard .fm-delimiter #fm-clipboard-clear { float: left; font-size: 11px; color: #3B5998; cursor: pointer; }
.fm-toolbar form {
    border-radius: 4px;
    margin-left: 15px;
    background-color: #6891E7;
    background-image: linear-gradient(to bottom, #4495E7 0px, #0053A6 100%);
    background-image: -moz-linear-gradient(to bottom, #4495E7 0px, #0053A6 100%);
    background-image: -webkit-linear-gradient(top,#4495E7 0,#0053A6 100%);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ff4495e7,EndColorStr=#ff0053a6);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.35) inset;
    -webkit-box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    border-color: #0053A6 #0053A6 #000000;
    border-width: 1px;
    border-style: solid;
}
.fm-toolbar form select {
    border-radius: 0 4px 4px 0;
}