<div class="file-manager row-fluid">
    <ul n:snippet="addressbar" class="fm-adressbar well span12 inline">
        {foreach $plugins as $name => $config}
            {control plugin-$name:addressbar}
        {/foreach}
    </ul>
</div>