<div class="file-manager">
    <div class="row-fluid">
        <ul n:snippet="infobar" class="fm-infobar span12 inline">
            {foreach $plugins as $name => $plugin}{control plugin-$name:infobar}{/foreach}
        </ul>
    </div>
</div>