<ul class="fm-disk-usage">
    <li><h2>{_'Disk usage'}</h2></li>
    <li>
        <div class="ui-progressbar ui-widget ui-widget-content ui-corner-all">
            <div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: {$sizeinfo['percentused']}%;"></div>
        </div>
    </li>
    <li><strong>{_'Used'}: </strong>{$sizeinfo['usedsize']|bytes}</li>
    <li><strong>{_'Available'}: </strong>{$sizeinfo['spaceleft']|bytes}</li>
</ul>