<h2>{_'Add new folder'}</h2>

<div class="fm-delimiter"></div>

<span style="margin: 5px;">{_'New folder will be created in'}:</span>
<h3 style="margin: 5px;">{$actualdir}</h3>
{control newFolderForm}