#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		confDir: %appDir%/config
		backupDir: %appDir%/storage/backup
		database:
			driver: sqlite
			database: %appDir%/storage/database.db
			profiler: true
		models:

	php: # PHP configuration
		# date.timezone: Europe/Prague
		# session.save_path: "%tempDir%/sessions"
		# zlib.output_compression: yes

	services:
		database:
			class: DibiConnection(%database%)
		modelLoader:
			class: ModelLoader(@container)
		userModel:
			class: UserModel(@container)
		authorizator:
			class: Acl
		authenticator:
			factory: @userModel::createAuthenticatorService

production < common:

development < common:

console < common: