<ul class="fm-disk-usage">
    <li><h2>{_'Disk usage'}</h2></li>
    <li>
        <div class="fm-progressbar">
            <div class="fm-progressbar-value" style="width: {$sizeinfo['percentused']}%;"></div>
        </div>
    </li>
    <li><strong>{_'Used'}: </strong>{$sizeinfo['usedsize']|bytes}</li>
    <li><strong>{_'Available'}: </strong>{$sizeinfo['spaceleft']|bytes}</li>
</ul>