<h2>{_'Add new folder'}</h2>

<div class="fm-delimiter"></div>

{form newFolderForm class => "fm-ajax"}
<table>
    <tbody>
        <tr>
            <th>{label name /}</th>
            <td>{input name}</td>
        </tr>
        <tr>
            <th></th>
            <td>{input send}</td>
        </tr>
    </tbody>
</table>
{/form}