.fm-inactive {
    position: absolute;
    z-index: 998;
}
.file-manager .fm-adressbar {
    padding: 0;
    margin: 0;
}
.file-manager .fm-adressbar > li {
    margin: 10px;
}
.file-manager .fm-adressbar form,
.file-manager .fm-adressbar select,
.file-manager .fm-adressbar input,
.file-manager .fm-adressbar .input-append,
.file-manager .fm-adressbar .input-prepend {
    margin: 0;
}
.file-manager .fm-toolbar {
    margin-bottom: 0;
}
.file-manager .fm-toolbar .navbar-inner {
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: none;
}
.file-manager .fm-toolbar .navbar-inner > .navbar-form .add-on {
    margin-top: 5px;
}
.file-manager .fm-body {
    height: 350px;
    padding: 0;
    margin: 0;
}
.file-manager .fm-body .fm-treeview {
    height: 100%;
    overflow: auto;
}
.file-manager .fm-body .fm-treeview > ul {
    margin-top: 10px;
}
.file-manager .fm-body .fm-treeview ul {
   list-style: none;
}
.file-manager .fm-body .fm-treeview a span {
    padding: 4px;
    border: 1px solid transparent;
}
.file-manager .fm-body .fm-content {
    height: 100%;
    overflow: auto;
}
.file-manager .fm-body .fm-content .fm-content-file {
    border: 1px solid transparent;
}
.file-manager .fm-body .fm-content .fm-content-files-large  > li {
    margin-bottom: 10px;
}
.file-manager .fm-body .fm-content .fm-content-files-small  > li {
    margin-bottom: 10px;
}
.file-manager .fm-body .fm-content hr {
    margin: 7px 0 7px 0;
}
.file-manager .fm-infobar {
    border-top: 1px solid transparent;
    min-height: 135px;
    padding: 0;
    margin: 0;
}