<h2>{_'Rename'}</h2>
<div class="fm-delimiter"></div>
{form renameForm class => "fm-ajax"}
<table>
    <tbody>
        <tr>
            <th>{label newFilename /}</th>
            <td>{input newFilename}</td>
        </tr>
        <tr>
            <th></th>
            <td>{input send}</td>
        </tr>
    </tbody>
</table>
{/form}