<!DOCTYPE html>
<html>
<head>

        <link type="text/css" href="{$basePath}/css/jqueryui/ui-lightness/jquery-ui-1.8.13.custom.css" rel="stylesheet" />

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
        <script type="text/javascript" src="{$basePath}/js/jquery-ui-1.8.13.custom.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
        <script type="text/javascript" src="{$basePath}/js/jquery.nette.js"></script>
        <script type="text/javascript" src="{$basePath}/js/jquery.ajaxform.js"></script>


        <!-- load CSS -->
        <link rel="stylesheet" href="{$basePath}/fm-src/skins/default/css/fm-main.css" type="text/css" />
        <link rel="stylesheet" href="{$basePath}/fm-src/skins/default/css/jquery.treeview.css" type="text/css" />
        <link rel="stylesheet" href="{$basePath}/fm-src/skins/default/css/jquery.contextmenu.css" type="text/css" />

        <!-- load JS -->
        <script src="{$basePath}/fm-src/js/jquery.treeview.js" type="text/javascript"></script>
        <script src="{$basePath}/fm-src/js/jquery.cookie.js" type="text/javascript"></script>
        <script src="{$basePath}/fm-src/js/jquery.contextmenu.js" type="text/javascript"></script>
        <script src="{$basePath}/fm-src/js/core.js" type="text/javascript"></script>
        {block head}{/block}
</head>
<body>
    <div style="margin: 0 auto; border: 1px solid #CCCCCC;">
        <p id="logged-in" n:if="$user->loggedIn" style="text-align: right; padding: 5px; margin: 0 auto; background-color: #000000; font-size: 80%; color: #ffffff; font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;">
            Signed in as {$user->identity->real_name} | <a n:href="Sign:out">Sign out</a>
        </p>
        {include #content}
    </div>
</body>
</html>
