<ul>
    <li><h2>{_'Disk usage'}</h2></li>
    <li>
        <div class="fm-progressbar">
            <div class="fm-progressbar-value" style="width: {$sizeinfo['percentused']}%;"></div>
        </div>
    </li>
    <li>{_'Used'}: <strong>{$sizeinfo['usedsize']|bytes}</strong></li>
    <li>{_'Available'}: <strong>{$sizeinfo['spaceleft']|bytes}</strong></li>
</ul>