{block content}
<table style="width: 100%;">
    <tr>
        <td colspan="2">Installation complete!</td>
    </tr>
    <tr>
        <td>Total commands:</td>
        <td>{$import}</td>
    </tr>
    <tr>
        <td><a href="#" title="Show details" id="show-details">Details</a></td>
        <td>
            <div id="details">
                <textarea cols="40" rows="10">{$sql}</textarea>
            </div>
        </td>
    </tr>
</table>

<a n:href=":Admin:Overview:">
    <input type="button" class="ui-button ui-button-text-only ui-widget ui-state-default ui-corner-all" value="Finish" />
</a>
{/block}

{block head}
<script type="text/javascript">
$(document).ready(function() {
    $("#details").hide();

    $("#show-details").click(function(){
        $("#details").toggle();
    });
});
</script>
{/block}