{block content}
{var $error = false}

<table n:ifset="$status">
    <tr n:foreach="$status as $item">
        <td>{$item['title']}</td>
        <td>
            {if $item['status']}
                OK
            {else}
                {$item['error']}
                {var $error = true}
            {/if}
        </td>
    </tr>
</table>

<a n:href="Homepage:">
    <input type="button" class="ui-button ui-button-text-only ui-widget ui-state-default ui-corner-all" value="Previous" />
</a>

<a n:if="!$error" n:href="Homepage:finish">
    <input type="button" class="ui-button ui-button-text-only ui-widget ui-state-default ui-corner-all" value="Next" />
</a>
{/block}