{block #content}
        {ifset $messages}
        <div n:foreach="$messages as $message" class="ui-state-highlight ui-corner-all" style="padding: 0 0.7em;">
            <p>
                <span class="ui-icon ui-icon-info" style="float: left; margin-right: 0.3em;"></span>
                {!$message}
            </p>
        </div>
        {/ifset}
{/block}