{form changeViewForm}
    {input view}
{/form}

<script type="text/javascript">
$(document).ready(function() {
    $("#frm-fileManager-viewSelector-changeViewForm").change(function () {
        $(this).ajaxSubmit();
        return false;
    });
});
</script>