/** Base style */
.file-manager { width: 100%; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; min-width: 450px; z-index: 0; }
.file-manager a { text-decoration: none; color: black; }
.file-manager h2 { font-size: 20px; font-weight: normal; }
.file-manager h3 { font-size: 15px; font-weight: normal; height: 25px; line-height: 25px; margin: 5px 0 10px; padding: 0 7px; }





/** Interactions & positions */
.fm-ajax-loader{ position: fixed; left: 50%; top: 50%; margin: -15px 0 0 -15px;
                 background: white url('../img/ajax-loader.gif') no-repeat 50% 50%;
                 padding: 13px; border: 2px solid #CCC; font-size: 0; z-index: 2;
}
.fm-inactive { position: absolute; background-color: #ffffff; opacity: 0.6; filter: alpha(opacity = 60); z-index: 1; }
.fm-draggable { cursor: pointer; }
.fm-state-highlight { border: 1px solid #fed22f; background: #ffe45c; color: #363636; font-weight: bold; }
.fm-left { float: left; }
.fm-right { float: right !important; }
.fm-clear { clear: both; }
.fm-hide { display: none; }
.fm-close { color: #000000; font-size: 20px; font-weight: bold; line-height: 20px; opacity: 0.2; text-shadow: 0 1px 0 #FFFFFF; }
.fm-close:hover { color: #000000; cursor: pointer; opacity: 0.4; text-decoration: none; }





/** Icons */
.fm-icon { width: 16px; height: 16px; display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; padding-right: 5px; }
.fm-icon-remove { background-image: url('../img/icons/remove.png'); }
.fm-icon-info { float: left; background-image: url('../img/icons/info.png'); }
.fm-icon-error { float: left; background-image: url('../img/icons/error.png'); }
.fm-icon-warning { float: left; background-image: url('../img/icons/warning.png'); }





/* Alert messages */
.fm-alert-message { width: 100%; position: relative; }
.fm-alert-message .fm-alert { padding: 8px 35px 8px 14px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); border: 1px solid; }
.fm-alert-message .error { background-color: #F2DEDE; border-color: #EED3D7; color: #B94A48; }
.fm-alert-message .info { background-color: #D9EDF7; border-color: #BCE8F1; color: #3A87AD; }
.fm-alert-message .warning { background-color: #FCF8E3; border-color: #FBEED5; color: #C09853; }
.fm-alert-message .fm-close { position: relative; top: -2px; right: -21px; line-height: 20px; }




/** Address bar */
.fm-adressbar { 
    width: 100%;
    background-color: #0E90D2;
    background-image: linear-gradient(to bottom, #149BDF, #0480BE);
    background-repeat: repeat-x;
    border: 1px solid #D4D4D4;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}
.fm-adressbar .fm-location { width: 75%; float: left; margin-left: 5px; margin-top: 7px; margin-bottom: 7px; position: relative; }
.fm-adressbar .fm-location form { width: 100%; height: 24px; margin: 0; padding: 0; }
.fm-adressbar .fm-location input {
    padding-left: 25px;
    width: 100%; 
    height: 24px;
    border: 1px solid #CCCCCC;
}
.fm-adressbar .fm-location input.active { background: url('../img/icons/folder.png') no-repeat 0 50% #FFFFFF; }
.fm-adressbar .fm-navigation { 
    position: absolute; 
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    height: 26px;
    line-height: 26px;
    background-color: #FFFFFF;
}
.fm-adressbar .fm-navigation .fm-navigation-root { 
    display: block; 
    margin-left: 4px;
    height: 26px;
    width: 20px;
    float: left;
    background: url('../img/icons/folder.png') no-repeat 50% 50% transparent;
}
.fm-adressbar .fm-navigation a span { 
    height: 26px; 
    float: left;
    background: url('../img/arrow.png') no-repeat scroll right; 
    padding: 0 14px 0 5px; 
}
.fm-adressbar .fm-navigation a span:hover { background: url('../img/nav_hover.png') repeat transparent; }
.fm-adressbar .fm-refresh { 
    width: 26px;
    height: 26px; 
    float: left; 
    background: url('../img/adressbar-bg.png') repeat transparent;
    border: 1px solid #CCCCCC; 
    cursor: pointer; 
    margin-top: 7px; 
    margin-bottom: 7px; 
    position: relative;
}
.fm-adressbar .fm-refresh:hover { background: url('../img/nav_hover.png') repeat transparent; }
.fm-adressbar .fm-refresh .fm-refresh-icon { 
    background: url('../img/icons/refresh.png') no-repeat 50% 50% transparent;
    margin: 5px 0 0 5px; 
    width: 15px; 
    height: 15px; 
    border: none; 
}
.fm-adressbar .fm-filter { float: left; margin-top: 7px; margin-bottom: 7px; position: relative; }
.fm-adressbar .fm-filter input { 
    height: 24px;
    border: 1px solid #CCCCCC;
    background: #FFFFFF url('../img/icons/search.png') no-repeat right;
    padding-left: 5px;
    padding-right: 25px;
}
.fm-adressbar .fm-filter input.active { color: #a1a1a1; }





/** Toolbar */
.fm-toolbar {
    width: 100%;
    background-color: #5FB0D9;
    height: 31px;
    padding: 0 3px;
    border-left: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;
}
.fm-toolbar ul { width: 100%; list-style: none outside none; margin: 0; padding: 0; }
.fm-toolbar ul form { padding-left: 5px; }
.fm-toolbar li { float: left; padding: 3px 3px 4px; position: relative; }
.fm-toolbar li a.fm-toolbar-item {
    float: left; 
    line-height: 24px;
    border-width: 1px; 
    border-color: transparent; 
    border-style: solid;
    border-radius: 3px;
}
.fm-toolbar li a.fm-toolbar-item:hover { background: url('../img/navbar.png') right -79px no-repeat; border-color: #D4D4D4; }
.fm-toolbar li a.fm-toolbar-item span {
    display: block; 
    padding: 0 6px; 
    float: left;
    height: 24px;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
.fm-toolbar li a.fm-toolbar-item:hover span { background: url('../img/navbar.png') left -55px no-repeat; }
.fm-toolbar .fm-clipboard { 
    position: absolute; 
    display: none; 
    width: 200px; 
    padding: 6px; 
    border: 1px solid #4FC4FF;
    background-color: #0E90D2;
    background-image: linear-gradient(to bottom, #149BDF, #0480BE);
    background-repeat: repeat-x;
    color: #FFFFFF;
    font-weight: bold;
}
.fm-toolbar .fm-clipboard .fm-clipboard-container {
    width: 100%;
    max-height: 250px;
    overflow: auto;
    overflow: -moz-scrollbars-horizontal;
    overflow-y: scroll;
    overflow-x: hidden;
}
.fm-toolbar .fm-clipboard a { color: #FFFFFF; line-height: normal; }
.fm-toolbar .fm-clipboard a:hover { background: none; text-decoration: underline; }
.fm-toolbar .fm-clipboard h3 { margin: 0; padding: 0; }
.fm-toolbar .fm-clipboard #fm-clipboard-hide, .fm-toolbar .fm-clipboard #fm-clipboard-clear { font-weight: bold; }
.fm-toolbar .fm-clipboard .fm-clipboard-item { font-size: 11px; width: 100%; border: 1px solid transparent; }
.fm-toolbar .fm-clipboard .fm-clipboard-item .fm-clipboard-item-left { float: left; width: 70%; word-wrap: break-word; }
.fm-toolbar .fm-clipboard .fm-clipboard-item .fm-clipboard-item-right { float: right; font-weight: bold; }
.fm-toolbar .fm-clipboard .fm-delimiter { border-top: 1px solid #D4D4D4; }
.fm-toolbar .fm-clipboard .fm-delimiter #fm-clipboard-hide { float: right; font-size: 11px; color: #3B5998; cursor: pointer; }
.fm-toolbar .fm-clipboard .fm-delimiter #fm-clipboard-clear { float: left; font-size: 11px; color: #3B5998; cursor: pointer; }





/** Files & content */
.fm-body { width: 100%; }
.fm-body .fm-treeview { width: 20%; height: 465px; float: left; margin: 0; padding: 0; background-color: #FFFFFF; overflow: auto; }
.fm-body .fm-treeview ul { background-color: white; margin-top: 4px; padding: 0; margin: 0; list-style: none; }
.fm-body .fm-treeview span { display: block; border: 1px solid #ffffff; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.fm-body .fm-treeview span:hover { border-color: #4FC4FF; background-color: #0E90D2; }
.fm-body .fm-treeview span:hover a { color: #FFFFFF; }
.fm-body .fm-treeview .treeview .hitarea { background: url(../img/treeview/minus.gif) 0 0 no-repeat; height: 16px; width: 16px; margin-left: -15px; margin-top: 2px; float: left; }
.fm-body .fm-treeview .treeview li { margin: 0;	padding: 3px 0pt 3px 16px; }
.fm-body .fm-treeview .treeview .expandable-hitarea { background: url(../img/treeview/plus.gif) 0 0 no-repeat; }
.fm-body .fm-treeview .treeview-folder { margin: 2px; padding: 2px; }
.fm-body .fm-treeview .filetree { margin-left: 10px; margin-top: 10px; display: block; }
.fm-body .fm-treeview .filetree li { padding: 3px 0 2px 16px; white-space: nowrap; }
.fm-body .fm-treeview .fm-folder-icon { padding-left: 23px; background: url(../img/icons/folder.png) no-repeat 0 0 }
.fm-body .fm-treeview .fm-root-icon { padding-left: 23px; background: url(../img/icons/root.png) no-repeat 0 0; }
.fm-body .fm-content { width: auto; height: 465px; background: url(../img/main_bg.jpg) repeat-x scroll left top #FFFFFF; border-left: 1px solid #D4D4D4; overflow: hidden; }
.fm-body .fm-content h2 { color: #0E90D2; font-size: 18px; margin: 5px; float: left; }
.fm-body .fm-content .fm-link-parent { color: #0E90D2; float: right; }
.fm-body .fm-content .fm-delimiter { clear: both; border-bottom: 1px solid #D4D4D4; }
.fm-body .fm-files-large { width: auto; height: 430px; overflow: auto; }
.fm-body .fm-files-large .fm-content-file { width: 140px; height: 121px; float: left; margin: 5px; padding: 5px; text-align: center; }
.fm-body .fm-files-large .fm-content-file .fm-thumb { border-style: none; max-height: 96px; }
.fm-body .fm-files-large .fm-content-file .fm-thumb.fm-photo { border: 1px solid #CCCCCC; max-height: 96px; }
.fm-body .fm-files-large .fm-content-file .fm-file-name { word-wrap: break-word; }
.fm-body .fm-files-large ul { list-style: none outside none; margin: 5px; padding: 10px; }
.fm-body .fm-files-large li { border: 1px solid #ffffff; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.fm-body .fm-files-large li:hover { background-color: #F5F5F5; border: 1px solid #D4D4D4; }
.fm-body .fm-files-large li.selected { background-color: #0088CC; color: #FFFFFF; }
.fm-body .fm-files-large li.selected:hover { background-color: #F5F5F5; border-color: #D4D4D4; color: #000000; }
.fm-body .fm-files-small { width: auto; height: 430px; overflow: auto; }
.fm-body .fm-files-small .fm-content-file { width: 80px; height: 121px; float: left; margin: 5px; padding: 5px; text-align: center; }
.fm-body .fm-files-small .fm-content-file .fm-thumb { border-style: none; max-height: 48px; }
.fm-body .fm-files-small .fm-content-file .fm-thumb.fm-photo { border: 1px solid #CCCCCC; max-height: 48px; }
.fm-body .fm-files-large .fm-content-file .fm-file-name { word-wrap: break-word; }
.fm-body .fm-files-small ul { list-style: none outside none; margin: 5px; padding: 10px; }
.fm-body .fm-files-small li {
    border: 1px solid #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.fm-body .fm-files-small li:hover { background-color: #F5F5F5; border: 1px solid #D4D4D4; }
.fm-body .fm-files-small li.selected { background-color: #0088CC; color: #ffffff; }
.fm-body .fm-files-small li.selected:hover { background-color: #F5F5F5; border-color: #D4D4D4; color: #000000; }
.fm-body .fm-files-list { width: auto; height: 430px; overflow: auto; }
.fm-body .fm-files-list .fm-thumb { border-style: none; }
.fm-body .fm-files-list ul {
    /* works only with Firefox */
    -moz-column-count: 2;
    -moz-column-width: auto;
    -moz-column-gap: auto;
    -webkit-column-count: 2;
    -webkit-column-gap: auto;
    -webkit-column-width: auto;
    column-count: 2;
    column-gap: auto;
    column-width: auto;
    list-style: none;
    height: 350px;
}
.fm-body .fm-files-list li {
    line-height: 24px;
    text-align: left;
    padding: 0 5px;
    border: 1px solid #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.fm-body .fm-files-list li:hover { background-color: #F5F5F5; border: 1px solid #D4D4D4; }
.fm-body .fm-files-list li.selected { background-color: #0088CC; color: #ffffff; }
.fm-body .fm-files-list li.selected:hover { background-color: #F5F5F5; border-color: #D4D4D4; color: #000000; }
.fm-body .fm-files-details { width: auto; height: 430px; overflow: auto; }
.fm-body .fm-files-details a { color: #003366; }
.fm-body .fm-files-details table { border-collapse: collapse; width: 99%; }
.fm-body .fm-files-details tr { text-align: left; }
.fm-body .fm-files-details thead tr { height: 28px; }
.fm-body .fm-files-details tbody tr { border: 1px solid #ffffff; height: 24px; color: #586b7d; }
.fm-body .fm-files-details tbody tr:hover { background-color: #F5F5F5; border-color: #D4D4D4; }
.fm-body .fm-files-details tr.selected { background-color: #0088CC; border: 1px solid #FFFFFF; color: #ffffff; }
.fm-body .fm-files-details tr.selected:hover { background-color: #F5F5F5; border: 1px solid #D4D4D4; color: #000000; }
.fm-body .fm-files-details tbody td { height: 24px; text-align: left; padding-left: 5px; }
.fm-body .fm-files-details thead th { background: url(../img/views/details/thead_separator.png) no-repeat scroll right top transparent; color: #4C607A; font-weight: normal; padding: 0 5px; }
.fm-body .fm-files-details .fm-thumb { border-style: none; }





/** Info bar at bottom */
.fm-info-bar { 
    width: 100%; 
    height: 135px; 
    background-color: #F5F5F5; 
    margin: 0; 
    color: #586b7d; 
    border: 1px solid #D4D4D4;
    border-radius: 0 0 4px 4px;
}
.fm-info-bar h2 { margin: 2px 0 2px 0; }
.fm-info-bar ul { list-style: none outside none; margin: 0; padding: 0; }
.fm-info-bar strong { color: #003366; font-weight: normal; }
.fm-info-bar .fm-disk-usage { margin: 10px; float: left; }
.fm-info-bar .fm-disk-usage .fm-disk-status {
    background-color: #F7F7F7;
    background-image: linear-gradient(to bottom, #F5F5F5, #F9F9F9);
    background-repeat: repeat-x;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 20px;
}
.fm-info-bar .fm-disk-usage .fm-disk-status span { 
    height: 100%;
    border-radius: 4px 4px 4px 4px;
    -moz-box-sizing: border-box;
    background-color: #0E90D2;
    background-image: linear-gradient(to bottom, #149BDF, #0480BE);
    background-repeat: repeat-x;
    display: block;
}
.fm-info-bar .fm-file-info-plugins { margin: 10px; float: right; }
.fm-info-bar .fm-file-info-plugins .fm-file-info-plugin { margin: 5px; }
.fm-info-bar .fm-file-info { margin: 10px; float: left; }
.fm-info-bar .fm-file-info li { float: left; }
.fm-info-bar .fm-file-info .fm-file-info-details li { float: none; }