<h2>{_'Rename'}: {$origFile}</h2>

<div class="fm-delimiter"></div>

{form renameForm class => "fm-ajax"}
<table>
    <tbody>
        <tr>
            <th>{label new_filename /}</th>
            <td>{input new_filename}</td>
        </tr>
        <tr>
            <th></th>
            <td>{input send}</td>
        </tr>
    </tbody>
</table>
{/form}