<ul>
    <li><h2>{_'Disk usage'}</h2></li>
    <li>
        <div class="fm-disk-status">
            <span style="width: {$sizeinfo['percentused']}%;"></span>
        </div>
    </li>
    <li>{_'Used'}: <strong>{$sizeinfo['usedsize']|bytes}</strong></li>
    <li>{_'Available'}: <strong>{$sizeinfo['spaceleft']|bytes}</strong></li>
</ul>