{block #content}
    {control users}
{/}

{block #head}
<style type="text/css">
    table {
        border-collapse: collapse;
        margin: 1em 0;
    }

    table td, table th {
        border: 1px solid #EEEEEE;
        padding: 0.6em 10px;
        text-align: left;
    }
</style>
<script>
	$(function() {
		$( "#accordion" ).accordion();
	});
</script>
{/}