<!DOCTYPE html>
<html>
<head>

        <link type="text/css" href="{$basePath}/css/jqueryui/ui-lightness/jquery-ui-1.8.12.custom.css" rel="stylesheet" />

        <script type="text/javascript" src="{$basePath}/js/jquery-1.5.2.min.js"></script>
        <script type="text/javascript" src="{$basePath}/js/jquery-ui-1.8.12.custom.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
        <script type="text/javascript" src="{$basePath}/js/jquery.nette.js"></script>
        <script type="text/javascript" src="{$basePath}/js/jquery.ajaxform.js"></script>


        <!-- load CSS -->
        <link rel="stylesheet" href="{$basePath}/fm-src/skins/default/css/fm-main.css" type="text/css" />
        <link rel="stylesheet" href="{$basePath}/fm-src/skins/default/css/jquery.treeview.css" type="text/css" />
        <link rel="stylesheet" href="{$basePath}/fm-src/skins/default/css/jquery.contextmenu.css" type="text/css" />

        <!-- load JS -->
        <script src="{$basePath}/fm-src/js/jquery.treeview.js" type="text/javascript"></script>
        <script src="{$basePath}/fm-src/js/jquery.cookie.js" type="text/javascript"></script>
        <script src="{$basePath}/fm-src/js/jquery.contextmenu.js" type="text/javascript"></script>
        <script src="{$basePath}/fm-src/js/core.js" type="text/javascript"></script>

        <!-- PLUPLOAD -->
        <link rel="stylesheet" href="{$basePath}/fm-src/3rd/plupload/css/jquery.ui.plupload.css" type="text/css" />

        <!-- Thirdparty intialization scripts, needed for the Google Gears and BrowserPlus runtimes -->
        <script type="text/javascript" src="{$basePath}/fm-src/3rd/plupload/js/gears_init.js"></script>
        <script type="text/javascript" src="{$basePath}/fm-src/3rd/plupload/js/browserplus-min.js"></script>

        <script type="text/javascript" src="{$basePath}/fm-src/3rd/plupload/js/plupload.full.min.js"></script>
        <script type="text/javascript" src="{$basePath}/fm-src/3rd/plupload/js/jquery.ui.plupload.min.js"></script>

        <script type="text/javascript" src="{$basePath}/fm-src/3rd/plupload/js/i18n/cs.js"></script>
</head>
<body>  
    {include #content}
</body>
</html>
